<div class="container mt-4">
  <div class="row">
  <div class="col-md-8"></div>
    <div class="col-md-4">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             {{option}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button" (click)="all()">All</button>
              <button class="dropdown-item" type="button" (click)="books()">Books</button>
              <button class="dropdown-item" type="button" (click)="charater()">Charaters</button>
              <button class="dropdown-item" type="button" (click)="gethouse()">Houses</button>
            </div>
          </div>
    </div>
  </div>
</div>

<div class="container mt-4" *ngIf="finalData">
  <div class="row">
    <div *ngFor="let item of finalData" class="col-md-4">
      <div class="card border-info mb-3" style="max-width: 18rem;" *ngIf="item.type === 'Book'">
        <div class="card-header">{{item.type}}</div>
        <div class="card-body text-info">
          <h6 class="card-title">Name: {{item.name}}</h6>
          <p class="card-text">Publisher: {{item.publisher}}</p>
          <p class="card-text">Country: {{item.country}}</p>
          <button type="button" class="btn btn-info" (click)="view(item)">View More</button>
        </div>
      </div>

      <div class="card border-success mb-3" style="max-width: 18rem;" *ngIf="item.type === 'Charater'">
        <div class="card-header">{{item.type}}</div>
        <div class="card-body text-success">
          <h6 class="card-title" *ngIf="item.name">Name: {{item.name}}</h6>
          <h6 class="card-title" *ngIf="!item.name">Name: N/A</h6>
          <p class="card-text" *ngIf="item.culture">Culture: {{item.culture}}</p>
          <p class="card-text" *ngIf="!item.culture">Culture: N/A</p>
          <p class="card-text">Gender: {{item.gender}}</p>
          <button type="button" class="btn btn-success" (click)="view(item)">View More</button>
        </div>
      </div>

      <div class="card border-warning mb-3" style="max-width: 18rem;" *ngIf="item.type === 'House'">
        <div class="card-header">{{item.type}}</div>
        <div class="card-body text-warning">
          <h6 class="card-title">Name: {{item.name}}</h6>
          <p class="card-text">Region: {{item.region}}</p>
          <p class="card-text" *ngIf="item.culture">Founded: {{item.founded}}</p>
          <p class="card-text" *ngIf="!item.culture">Founded: N/A</p>
          <button type="button" class="btn btn-warning" (click)="view(item)">View More</button>
        </div>
      </div>
    </div>
  </div>
</div>